input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  .App{
    background-image: url("../images/pattern-randomized.svg");
    background-size: cover;
    background-position: bottom;
    /* background by SVGBackgrounds.com */
  }