input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  .App{
    background-image: url("../images/pattern-randomized.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background by SVGBackgrounds.com */
    width: 100%;
  }

  h1{
    border-bottom: solid #3b7302 4px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-bottom: 5px;
  }