
li a {
    text-decoration: none;
    color: black
}

li a:hover{
    color: rgb(72, 185, 72);
    transition: ease-in-out all 0.2s;
}

.footer{
    background-color: #605d57;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-family: 'Libre Baskerville', serif;
}

div .list-section{
    text-align: center;
}

li{
    list-style: none;
    text-align: left;
}

.developer{
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    color: white
}

.developer:hover {
    color:rgb(68, 168, 68);
    transition: ease-in-out all 0.3s;
}

footer .social-media{
    color: white;
    margin-top: 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #312f28;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media p{
    margin: 0
}

.footer h5{
    padding-top: 40px;
    margin-bottom: 30px;
}

.footer li span{
    margin-right: 6px;
}

.list-section div ul li{
    display: flex;
    align-items: center;
}

.list-section div ul li a{
    margin: 2px
}

div.logos button:hover{
    color: rgb(48, 139, 48);
    transition: ease-in-out all 0.3s;
}